# env
NODE_ENV='dev'

# web
SMALL_API_PORT=8080

# config
SMALL_API_URL='http://localhost:8080' # app url 

SMALL_API_AUTH_PROVIDER_TYPE=local # for testing default is local (local / firebase)
SMALL_API_SALT='bcccbcccbcccbcccbcccbcccbcccbcccbcccbcccbcccbcccbcccbcccbcccbccc' # 64 chars <generate: openssl rand -hex 32>
SMALL_API_S2SPASS='00001111222233334444555566667777' # 32 characters <generate: openssl rand -hex 16>
SMALL_API_PREVAUTHPASS='00001111222233334444555566667777' # 32 characters <generate: openssl rand -hex 16>
SMALL_API_AUTHPASS='00001111222233334444555566667777' # 32 characters <generate: openssl rand -hex 16>

SMALL_API_SMTP_CONFIG='{ "host": "host", "port": "465", "user": "user", "password": "password", "from": "small@localhost" }' # { host, port, user, pass, from }


# database
SMALL_API_DATABASE_URL=${MONGODB_LOCAL_URL} # mongodb://${MONGODB_ROOT_USERNAME}:${MONGODB_ROOT_PASSWORD}@localhost/
SMALL_API_DATABASE_DB='Small-Test'
