# env
NODE_ENV='dev'

#web
SMALL_UI_PORT=8081
VUE_APP_SMALL_UI_PORT=8081

#backend
VUE_APP_SMALL_API_URL='http://localhost:8080' # /api/v1
VUE_APP_SMALL_API_CORS_ORIGIN='http://localhost:8080,http://localhost:8081' # app url + ui url
